body{
    background-color: rgb(111, 27, 190);
    font-size: 62.5%;
    color: white;
    font-family: 'Montserrat';
}

.flex-container{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
}

.image{
    max-width: 60em;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}


.text{
    position: relative;
    align-self: center;
}

button{
    border: none;
    background-color: rgb(42, 230, 36);
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    padding: 0.5em 2em;
    border-radius: 5px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: darkmagenta;
}


p{
    font-size: 2em;
}

div > h1{
    font-size: 4.5em;
}